@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  opacity: 0;
  animation: fadeIn 1s ease 2s forwards;
}

.image {
  width: 100px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
